##########################################
# FEegow
##########################################

FEEGOW_BASE_URL=https://api.feegow.com/v1/api
FEEGOW_ACCESS_TOKEN=SEU_TOKEN

##########################################
# MCP
##########################################

MCP_NAME=ANA

##########################################
# Python
##########################################

PYTHONUNBUFFERED=1

##########################################
# Ambiente
##########################################

ENVIRONMENT=production

##########################################
# Logging
##########################################

LOG_LEVEL=INFO
